body {
	background: black;
	background-image: url("http://upload.wikimedia.org/wikipedia/commons/4/4c/Wide_Field_Imager_view_of_a_Milky_Way_look-alike_NGC_6744.jpg");
}
h1	{
	font-family: helvetica;
	color: pink;
	font-size: 250px;
}
#container {
	text-align: center;
}