body {
	margin-left: 40px;
	margin-right: 40px;
	font-family: helvetica;
}

h1 {
	text-align: right;
	background: lavender;
	margin-bottom: 0px;
}

h3 {
	text-align: right;
	margin-top: 0px;
	background: lavender;
}

h4 {
	margin-bottom: 0px;
}

br {
	margin: 0;
}