.container {
	width: 720px;
	line-height: 1.5;
	margin-left: 20px;
	font-family: 'Lato';
}

h1 {
	font-size: 55px;
	font-weight: lighter;
	color: #DD0000;
	margin-bottom: 0px;
}
should put line space between these elements if doing between others. for sake of tidiness! 
h2 {
	font-weight: lighter;
	font-size: 28px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.image-center {
	max-width: 720px;
	height: auto;
}

li {
	display: inline;
	list-style-type: none;
	padding: 10px;
	margin-left: -8px;
	font-size: 22px;
	font-style: lighter;
}

/*CRUFT can remove?*/
.top-nav {
	;
}

ul {
	padding: 0;
	/*extra line here*/

}

.continues-link {
	text-align: right;
	font-weight: bold;
}

.date {
	font-size: 34px;
	color: #cccccc;
	margin-bottom: 0px;
}

.blog-title {
	font-size: 34px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.bottom-nav {
	/*protip can shorten to #ccc*/
	color: #cccccc
}

a {
	color:#DD0000;
	text-decoration: none;
}

a:hover {
	color: #aa0000;
}

.top-nav a {
	color: #dddddd;
	text-decoration: underline;
}

.top-nav a:hover {
	color: black;
}

p {
	font-size: 18px;
}

.border {
	color: 1px solid #cccccc;
}

.copyright {
	color: #cccccc;
	font-size: 18px;
}
